extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    h1(class="mb-4") Phân quyền 

    div(data-record = record)

    div(class="text-right")
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật 

    table(
        class=" table table-hover table-sm"
    )  
    table(
        class="table table-hover table-sm"
        table-permission
    )
        thead 
            tr 
                th Tính năng 
                each item in record
                    th(class="text-center") #{item.title} 
        tbody   
            tr(data-name="id" class="d-none")
                td 
                each item in record     
                    td(class="text-center")
                        input(type="text" value= item.id)          
            tr 
                td(colspan="4")
                    b Danh mục sản phẩm 
            tr(data-name="product-catagory_view")
                td Xem 
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-catagory_create")
                td Thêm mới
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-catagory_edit")
                td Chỉnh sửa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-catagory_delete")
                td Xóa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox") 
            //- sản phẩm

            tr 
                td(colspan="4")
                    b Sản phẩm 
            tr(data-name="products_view")
                td Xem 
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products_create")
                td Thêm mới
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products_edit")
                td Chỉnh sửa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="products_delete")
                td Xóa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")  
            //- nhóm   quyền            

            tr 
                td(colspan="4")
                    b Nhóm quyền 
            tr(data-name="roles_view")
                td Xem 
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_create")
                td Thêm mới
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_edit")
                td Chỉnh sửa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_delete")
                td Xóa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="roles_permission")
                td Phân quyền
                each item in record 
                    td(class="text-center")
                        input(type="checkbox") 

            //- tài khoản
            tr 
                td(colspan="4")
                    b Tài khoản 
            tr(data-name="account_view")
                td Xem 
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="account_create")
                td Thêm mới
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="account_edit")
                td Chỉnh sửa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="account_delete")
                td Xóa
                each item in record 
                    td(class="text-center")
                        input(type="checkbox")                           
                                              

    form(
        id="form-change-permission"
        action=`${prefixAdmin}/roles/permission?_method=PATCH`
        method="POST"
        class="d-none"
         ) 
            div(class="form-group")
                input(
                    type="text"
                    class="form-control"
                    name="permission"
                )
    script(src="/admin/js/role.js")